    <!-- Service Section -->

      <div class="service_section">
        <div class="row">
            <div class="col md-4 box_1">
              <h4>Estrategia, usabilidad & UX</h4>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolorem quod, sit harum voluptatem reiciendis vel temporibus, quis ducimus eos debitis suscipit dolores.</p>
            </div>
            <div class="col md-4 box_2">
              <h4>Mejoramos la experiencia</h4>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolorem quod, sit harum voluptatem reiciendis vel temporibus, quis ducimus eos debitis suscipit dolores.</p>
            </div>
            <div class="col md-4 box_3">
              <h4>Medicion continua de objetivos</h4>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolorem quod, sit harum voluptatem reiciendis vel temporibus, quis ducimus eos debitis suscipit dolores.</p>
            </div>         
        </div>
      </div>
